# --------------------------------------------------
# Python
# --------------------------------------------------
.env
.venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.pytest_cache/

# --------------------------------------------------
# Editor
# --------------------------------------------------
.vscode/
*.code-workspace

# --------------------------------------------------
# OS
# --------------------------------------------------
.DS_Store
Thumbs.db

# --------------------------------------------------
# Project specific
# --------------------------------------------------
#Neon dev.session.sql
#playground-1.mongodb.js
.gitpulse.toml


# --------------------------------------------------
# Temporary generated
# --------------------------------------------------
 #summary.mdoutput/
